# KALMAN REAL TIME con Telegram

Este cuaderno implementa una estrategia de inversion basada en Kalman como indicador.

Busca señales de entrada y las envía el Telegram para su analisis.

GRAFICADOR PLOTLY:  muy bueno como hace velas ( esta abajo desconectado del resto)

Status: <font color='red'>Funcionando !!!  v0.0    10/01/2022<font>

In [1]:
# Raw Package
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

In [2]:
import analisis
import kalman as kl  #cambiar segun el módulo con la estrategia implementado
import pandas as pd
import datetime as dt
from time import time
from time import sleep
import yfinance as yf
import numpy as np
from telegram_bot import *

dentro =True
fuera  =False

{'id': 1473252352, 'is_bot': True, 'can_read_all_group_messages': False, 'supports_inline_queries': False, 'first_name': 'vital_bot', 'username': 'vital_quant_bot', 'can_join_groups': True}

In [3]:
kalman= kl.StrategyClass(real_back=True)    #Creamos la clase
import quant_j3_lib as quant_j3

In [4]:
telegram_send("3.- Señal Kalman RealTime b0.1n  ")

In [5]:

#Interval required 1 minute
data = yf.download(tickers='corn', period='1mo', interval='5m')

[*********************100%***********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-12-14 09:30:00-05:00,21.280001,21.340000,21.280001,21.340000,21.340000,3996
2021-12-14 09:35:00-05:00,21.341000,21.355000,21.320000,21.320000,21.320000,3325
2021-12-14 09:40:00-05:00,21.340000,21.340000,21.330000,21.340000,21.340000,3182
2021-12-14 09:45:00-05:00,21.352501,21.352501,21.352501,21.352501,21.352501,173
2021-12-14 09:50:00-05:00,21.341000,21.341000,21.340000,21.340000,21.340000,528
...,...,...,...,...,...,...
2022-01-13 15:35:00-05:00,21.540001,21.540001,21.530001,21.530001,21.530001,291
2022-01-13 15:40:00-05:00,21.530001,21.540001,21.530001,21.530001,21.530001,521
2022-01-13 15:45:00-05:00,21.530001,21.540001,21.530001,21.530001,21.530001,1134
2022-01-13 15:50:00-05:00,21.530001,21.530001,21.520000,21.520000,21.520000,1310
2022-01-13 15:55:00-05:00,21.520000,21.530001,21.520000,21.530001,21.530001,1828

In [7]:
data['Kalman']= quant_j3.kalmanIndicator(data,paraA_=200,paraB_=50,instrumento="_")

In [8]:
data2= quant_j3.MovingAverage(data,long_=200,short_=50)

In [9]:
data2.head()

,Open,High,Low,Close,Adj Close,Volume,Kalman,MA_200,MA_50
Datetime,,,,,,,,,
2021-12-14 09:30:00-05:00,21.280001,21.340000,21.280001,21.340000,21.340000,3996,19.547632,NaN,NaN
2021-12-14 09:35:00-05:00,21.341000,21.355000,21.320000,21.320000,21.320000,3325,19.725185,NaN,NaN
2021-12-14 09:40:00-05:00,21.340000,21.340000,21.330000,21.340000,21.340000,3182,19.886789,NaN,NaN
2021-12-14 09:45:00-05:00,21.352501,21.352501,21.352501,21.352501,21.352501,173,20.033862,NaN,NaN
2021-12-14 09:50:00-05:00,21.341000,21.341000,21.340000,21.340000,21.340000,528,20.167748,NaN,NaN

In [10]:
data= quant_j3.MovingAverage(data,long_=200,short_=50)

In [11]:
# 1.- MEDIA DE 200 SESIONES ACCENDENTE
#   Calculamos de la media aritmetica la regresion lineal para ver la esencia
ma200_=data.columns.get_loc("MA_200")
data_aux2= data.iloc[-200:, ma200_]
data_aux2.dropna(inplace=True)  
# 3.1.- Calculamos media de las ultimas 'n' sesiones y la regresion lineal
coef_ema200_, intercept_ema200_ =quant_j3.linearRegresion_J3(data_aux2) #+'  de ema200')

Coefficients:
 [-0.00038066]
Independent term:
 21.885069087896774

In [12]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Kalman,MA_200,MA_50
Datetime,,,,,,,,,
2022-01-13 15:35:00-05:00,21.540001,21.540001,21.530001,21.530001,21.530001,291,21.545748,21.764371,21.567388
2022-01-13 15:40:00-05:00,21.530001,21.540001,21.530001,21.530001,21.530001,521,21.545070,21.762894,21.566582
2022-01-13 15:45:00-05:00,21.530001,21.540001,21.530001,21.530001,21.530001,1134,21.544542,21.761543,21.565582
2022-01-13 15:50:00-05:00,21.530001,21.530001,21.520000,21.520000,21.520000,1310,21.544161,21.759870,21.565982
2022-01-13 15:55:00-05:00,21.520000,21.530001,21.520000,21.530001,21.530001,1828,21.544020,21.758370,21.566382

In [13]:
# borrar una columna  
del data["Adj Close"]

In [14]:
print (data)

                                Open       High        Low      Close  Volume  \
Datetime
2021-12-14 09:30:00-05:00  21.280001  21.340000  21.280001  21.340000    3996
2021-12-14 09:35:00-05:00  21.341000  21.355000  21.320000  21.320000    3325
2021-12-14 09:40:00-05:00  21.340000  21.340000  21.330000  21.340000    3182
2021-12-14 09:45:00-05:00  21.352501  21.352501  21.352501  21.352501     173
2021-12-14 09:50:00-05:00  21.341000  21.341000  21.340000  21.340000     528
...                              ...        ...        ...        ...     ...
2022-01-13 15:35:00-05:00  21.540001  21.540001  21.530001  21.530001     291
2022-01-13 15:40:00-05:00  21.530001  21.540001  21.530001  21.530001     521
2022-01-13 15:45:00-05:00  21.530001  21.540001  21.530001  21.530001    1134
2022-01-13 15:50:00-05:00  21.530001  21.530001  21.520000  21.520000    1310
2022-01-13 15:55:00-05:00  21.520000  21.530001  21.520000  21.530001    1828

                              Kalman     MA_200      MA_50
Datetime
2021-12-14 09:30:00-05:00  19.547632        NaN        NaN
2021-12-14 09:35:00-05:00  19.725185        NaN        NaN
2021-12-14 09:40:00-05:00  19.886789        NaN        NaN
2021-12-14 09:45:00-05:00  20.033862        NaN        NaN
2021-12-14 09:50:00-05:00  20.167748        NaN        NaN
...                              ...        ...        ...
2022-01-13 15:35:00-05:00  21.545748  21.764371  21.567388
2022-01-13 15:40:00-05:00  21.545070  21.762894  21.566582
2022-01-13 15:45:00-05:00  21.544542  21.761543  21.565582
2022-01-13 15:50:00-05:00  21.544161  21.759870  21.565982
2022-01-13 15:55:00-05:00  21.544020  21.758370  21.566382

[1207 rows x 8 columns]

In [15]:
indiceLast_ = (len(data)-1)

In [16]:
indiceLast_

1206

In [17]:
#print (data.iloc[indiceLast_][kalman_])

In [18]:
price_ = data.columns.get_loc("Close")  
kalman_ = data.columns.get_loc("Kalman")  
volumen_ = data.columns.get_loc("Volume")

In [19]:
contador =0
señal =False
for i in range(5):
    #Precio por encima de Kalman cuento uno en el contador
    if (data.iloc[(indiceLast_-i),price_] > data.iloc[(indiceLast_),kalman_]):
        contador += 1
        data.iloc[(indiceLast_-i),volumen_] =99.0

if (contador > 2): 
    señal=True

In [20]:
def checkKalman(instrumento_ ='app'):
    #Interval required 1 minute
    try:
        data = yf.download(tickers=instrumento_, period='1mo', interval='5m')  #  1h 3mo 15m https://algotrading101.com/learn/yfinance-guide/
    except:
        print('instrumento no existe')
    
    del data["Adj Close"]
    data['Kalman']= quant_j3.kalmanIndicator(data,paraA_=200,paraB_=50,instrumento=instrumento_)

    indiceLast_ = (len(data)-2)    ### ojo parece que da la ultima version cotizada, no la ultima hora
    price_ = data.columns.get_loc("Close")  
    kalman_ = data.columns.get_loc("Kalman")  
    volumen_ = data.columns.get_loc("Volume") 
    open_ = data.columns.get_loc("Open")  


    print(instrumento_)
    
    contador =0
    señal =fuera
    
    # Compruebo Kalman
    # Según la estrategia tenemos que buscar, dos velas alcistas no necesariamente consecutivas entre una ventana anterior. 
    # estas velas alcistas detras de una condicion de reset (dos velas rojas por debajo kalman)
    
    for i in range(5):
        #vela verde por encima de kalman entera
        if (data.iloc[(indiceLast_-i),price_] > data.iloc[(indiceLast_),kalman_]  and  
            data.iloc[(indiceLast_-i),open_] > data.iloc[(indiceLast_),kalman_]  and
            data.iloc[(indiceLast_-i),price_] > data.iloc[(indiceLast_),open_]):
            contador += 1
            data.iloc[(indiceLast_-i),volumen_] =99.0
    #tres velas verdes y la ultima verde
    if (contador > 2  and
       data.iloc[(indiceLast_),price_] > data.iloc[(indiceLast_),kalman_]  and 
       data.iloc[(indiceLast_-i),open_] > data.iloc[(indiceLast_),kalman_] ): 
        señal=dentro 
    
    #Compruebo Media 200 velas positiva
    #quant_j3.MovingAverage(data,long_=200,short_=50)
    data2= quant_j3.MovingAverage(data,long_=200,short_=50)
    # 1.- MEDIA DE 200 SESIONES ACCENDENTE
    #   Calculamos de la media aritmetica la regresion lineal para ver la esencia
    ma200_=data2.columns.get_loc("MA_200")
    data_aux2= data2.iloc[-200:, ma200_]
    data_aux2.dropna(inplace=True)  
    # 3.1.- Calculamos media de las ultimas 'n' sesiones y la regresion lineal
    coef_ema200_, intercept_ema200_ =quant_j3.linearRegresion_J3(data_aux2) #+'  de ema200') 
    
    if (señal ==dentro):
        if (coef_ema200_ > 0): 
            señal=dentro     
        else:
            señal =fuera
    
   
    print(instrumento_,señal)
    print ('Precio', data.iloc[(indiceLast_-i),price_], '*************  ''Kalman', data.iloc[(indiceLast_-i),kalman_])
    print ('checkIN Time',data.index[indiceLast_])
    
    if (señal ==dentro):
        print ('Entramos del mercado')
        telegram_send("3.Señal Kalman (1hora)b1.0.\n"+ instrumento_ +"\nPrecio = " + str(data.iloc[(indiceLast_-i),price_]) + "\n***  Kalman level = "+ str(data.iloc[(indiceLast_-i),kalman_])+
                     "\nTime: " + str(data.index[indiceLast_]))
        sleep(5)
        
        
    
    return señal

In [21]:
def checkKalman_OUT(instrumento_ ='app'):
    #Interval required 1 minute
    try:
        data = yf.download(tickers=instrumento_, period='1mo', interval='5m')  #5m
    except:
        print('instrumento no existe')
    
    del data["Adj Close"]
    data['Kalman']= quant_j3.kalmanIndicator(data,paraA_=200,paraB_=50,instrumento=instrumento_)

    indiceLast_ = (len(data)-2)    ### ojo parece que da la ultima version cotizada, no la ultima hora
    price_ = data.columns.get_loc("Close")  
    kalman_ = data.columns.get_loc("Kalman")  
    volumen_ = data.columns.get_loc("Volume") 
    open_ = data.columns.get_loc("Open")  

    print(instrumento_)
    
    contador =0
    señal =dentro
    
    # Compruebo Kalman
    # Borro la señal si dos velas por debajo de kalman
    
    for i in range(5):
        #Precio por debajo de Kalman cuento uno en el contador
        if (data.iloc[(indiceLast_-i),price_] < data.iloc[(indiceLast_),kalman_] and
           data.iloc[(indiceLast_-i),open_] < data.iloc[(indiceLast_),kalman_] and
           data.iloc[(indiceLast_-i),price_] < data.iloc[(indiceLast_),open_]):
            contador += 1
            data.iloc[(indiceLast_-i),volumen_] =99.0
    if (contador > 3): 
        señal=fuera
        print ('Salimos del mercado')
    
    
    
    print(instrumento_,señal)

    print ('checkOUT Time',data.index[indiceLast_])

    return señal

In [22]:
print(checkKalman('corn'))

[*********************100%***********************]  1 of 1 completed
corn
Coefficients:
 [-0.00038066]
Independent term:
 21.885069087896774
corn False
Precio 21.530000686645508 *************  Kalman 21.546582992090386
checkIN Time 2022-01-13 15:50:00-05:00
False

In [23]:
print(checkKalman_OUT('corn'))

[*********************100%***********************]  1 of 1 completed
corn
corn True
checkOUT Time 2022-01-13 15:50:00-05:00
True

In [24]:
data

,Open,High,Low,Close,Volume,Kalman,MA_200,MA_50
Datetime,,,,,,,,
2021-12-14 09:30:00-05:00,21.280001,21.340000,21.280001,21.340000,3996,19.547632,NaN,NaN
2021-12-14 09:35:00-05:00,21.341000,21.355000,21.320000,21.320000,3325,19.725185,NaN,NaN
2021-12-14 09:40:00-05:00,21.340000,21.340000,21.330000,21.340000,3182,19.886789,NaN,NaN
2021-12-14 09:45:00-05:00,21.352501,21.352501,21.352501,21.352501,173,20.033862,NaN,NaN
2021-12-14 09:50:00-05:00,21.341000,21.341000,21.340000,21.340000,528,20.167748,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-01-13 15:35:00-05:00,21.540001,21.540001,21.530001,21.530001,291,21.545748,21.764371,21.567388
2022-01-13 15:40:00-05:00,21.530001,21.540001,21.530001,21.530001,521,21.545070,21.762894,21.566582
2022-01-13 15:45:00-05:00,21.530001,21.540001,21.530001,21.530001,1134,21.544542,21.761543,21.565582
2022-01-13 15:50:00-05:00,21.530001,21.530001,21.520000,21.520000,1310,21.544161,21.759870,21.565982
2022-01-13 15:55:00-05:00,21.520000,21.530001,21.520000,21.530001,1828,21.544020,21.758370,21.566382

In [ ]:
#TICKERS
tickers5 = ['AAPL', 'MSFT', '^GSPC', 'ELE.MC','SAN.MC', 'BBVA.MC']  #,'ANA.MC','MTS.MC','GRF.MC']  # apple,microsfoft,sp500, endesa
tickers__ = ['MTS.MC'] 
tickers = ['FER.MC','COL.MC','IBE.MC','NTGY.MC','SAB.MC','ACX.MC','PHM.MC','SAN.MC','MRL.MC','TEF.MC','AMS.MC','VIS.MC','MTS.MC','MAP.MC','CLNX.MC','BBVA.MC','CABK.MC','MEL.MC','AENA.MC','BKT.MC','REE.MC','FDR.MC','ACS.MC','ITX.MC','ENG.MC','ANA.MC','ELE.MC','GRF.MC','IAG.MC','SGRE.MC']
tickersCurrencies =['EURUSD=X', 'EURGBP=X' ,'EURCHF=X', 'EURJPY=X', 'EURNZD=X', 'EURCAD=X', 'EURAUD=X','USDCHF=X', 
         'USDJPY=X','GBPCAD=X', 'GBPUSD=X', 'GBPJPY=X', 'GBPCHF=X', 'GBPNZD=X', 'GBPAUD=X',
         'NZDCAD=X', 'NZDUSD=X', 'NZDCHF=X', 'NZDJPY=X','JPY=X','EURSEK=X','USDCAD=X','AUDCAD=X',
         'KC=F','HG=F', 'CORN', 'CL=F', 'ZS=F','ZW=F','GC=F','X','ZW=F',
         'ETH-USD','PFE',
        '^IXIC', '^GSPC', '^GDAXI'
         ]
Currencies_dict = dict.fromkeys(tickersCurrencies, True) #convertir el array en un diccionario


while(True):
    #VALORES DEL IBEX 
    #for i in range(len(tickers)): 
                    #print(tickers[i])
        #checkKalman(tickers[i])
        #sleep(1)


    #CURRENCIES
    for i in range(len(tickersCurrencies)): 
                #print(tickersCurrencies[i])
        if (Currencies_dict[tickersCurrencies[i]]==fuera):
            señal= checkKalman(tickersCurrencies[i])     
            Currencies_dict[tickersCurrencies[i]]=señal
            sleep(5)
        else: 
            señal= checkKalman_OUT(tickersCurrencies[i])     
            Currencies_dict[tickersCurrencies[i]]=señal
            sleep(5)            
        
"""
VALORES DEL SP50
sp_url= 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp=pd.read_html(sp_url,header=0)[0]
print (sp.info())

for i in range(len(sp)):
     symbol=sp.iloc[i,0] 
     #df = yf.download(symbol, start, end)
     print(symbol)
     checkKalman(symbol)
     #time.sleep (1)
"""

[*********************100%***********************]  1 of 1 completed
EURUSD=X
EURUSD=X True
checkOUT Time 2022-01-13 21:40:00+00:00
[*********************100%***********************]  1 of 1 completed
EURGBP=X
EURGBP=X True
checkOUT Time 2022-01-13 21:40:00+00:00
[*********************100%***********************]  1 of 1 completed
EURCHF=X
EURCHF=X True
checkOUT Time 2022-01-13 21:40:00+00:00
[*********************100%***********************]  1 of 1 completed
EURJPY=X
EURJPY=X True
checkOUT Time 2022-01-13 21:40:00+00:00
[*********************100%***********************]  1 of 1 completed
EURNZD=X
EURNZD=X True
checkOUT Time 2022-01-13 21:40:00+00:00
[*********************100%***********************]  1 of 1 completed
EURCAD=X
EURCAD=X True
checkOUT Time 2022-01-13 21:40:00+00:00
[*********************100%***********************]  1 of 1 completed
EURAUD=X
EURAUD=X True
checkOUT Time 2022-01-13 21:40:00+00:00
[*********************100%***********************]  1 of 1 completed

In [ ]:
tickersCurrencies =['EURUSD=X', 'EURGBP=X' ,'EURCHF=X', 'EURJPY=X', 'EURNZD=X', 'EURCAD=X', 'EURAUD=X','USDCHF=X', 
         'USDJPY=X','GBPCAD=X', 'GBPUSD=X', 'GBPJPY=X', 'GBPCHF=X', 'GBPNZD=X', 'GBPAUD=X',
         'NZDCAD=X', 'NZDUSD=X', 'NZDCHF=X', 'NZDJPY=X','JPY=X','EURSEK=X','USDCAD=X','AUDCAD=X',
         'KC=F','HG=F', 'CORN', 'CL=F', 'ZS=F','ZW=F','GC=F','X','ZW=F',
         'ETH-USD','PFE',
        '^IXIC', '^GSPC', '^GDAXI'
         ]

Currencies_dict = dict.fromkeys(tickersCurrencies, "out")

In [ ]:
Currencies_dict[tickersCurrencies[2]]=2

In [ ]:
Currencies_dict

# GRAFICADOR

In [ ]:


#Interval required 1 minute
data = yf.download(tickers='UBER', period='1d', interval='1m')

#declare figure
fig = go.Figure()

#Candlestick
fig.add_trace(go.Candlestick(x=data.index,
                open=data['Open'],
                high=data['High'],
                low=data['Low'],
                close=data['Close'], name = 'market data'))

# Add titles

fig.layout.update(
    title='Uber live share price evolution',
    yaxis_title='Stock Price (USD per Shares)')

# X-Axes

fig.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(count=15, label="15m", step="minute", stepmode="backward"),
            dict(count=45, label="45m", step="minute", stepmode="backward"),
            dict(count=1, label="HTD", step="hour", stepmode="todate"),
            dict(count=3, label="3h", step="hour", stepmode="backward"),
            dict(step="all")
        ])
    )
)

#Show
fig.show()