KALMAN REAL TIME PARA PROBAR

In [1]:
# Raw Package
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

In [2]:
#Interval required 1 minute
data = yf.download(tickers='UBER', period='1d', interval='1m')

[*********************100%***********************]  1 of 1 completed

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-01-06 09:30:00-05:00,43.250000,43.270000,43.139999,43.189999,43.189999,435385
2022-01-06 09:31:00-05:00,43.020000,43.259998,42.750000,42.959999,42.959999,114045
2022-01-06 09:32:00-05:00,42.980000,43.020000,42.860001,42.950001,42.950001,82698
2022-01-06 09:33:00-05:00,42.959999,43.080002,42.790001,43.049999,43.049999,150992
2022-01-06 09:34:00-05:00,43.090000,43.375000,43.020000,43.360001,43.360001,196966

In [4]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-01-06 15:55:00-05:00,42.119999,42.139999,42.049999,42.055000,42.055000,185039
2022-01-06 15:56:00-05:00,42.059898,42.090000,42.020000,42.029999,42.029999,216075
2022-01-06 15:57:00-05:00,42.029999,42.099998,42.020000,42.095001,42.095001,270387
2022-01-06 15:58:00-05:00,42.090000,42.099998,42.070000,42.090000,42.090000,225265
2022-01-06 15:59:00-05:00,42.090000,42.105000,41.974998,41.989700,41.989700,885910

In [ ]:
# Raw Package
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

#Interval required 1 minute
data = yf.download(tickers='UBER', period='1d', interval='1m')

#declare figure
fig = go.Figure()

#Candlestick
fig.add_trace(go.Candlestick(x=data.index,
                open=data['Open'],
                high=data['High'],
                low=data['Low'],
                close=data['Close'], name = 'market data'))

# Add titles

fig.layout.update(
    title='Uber live share price evolution',
    yaxis_title='Stock Price (USD per Shares)')

# X-Axes

fig.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(count=15, label="15m", step="minute", stepmode="backward"),
            dict(count=45, label="45m", step="minute", stepmode="backward"),
            dict(count=1, label="HTD", step="hour", stepmode="todate"),
            dict(count=3, label="3h", step="hour", stepmode="backward"),
            dict(step="all")
        ])
    )
)

#Show
fig.show()